/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가적인 글로벌 스타일 */
body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-gray-800 text-white;
}

/* Fade-in 애니메이션 정의 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
